.backColor{
    background-color: whitesmoke;
    /* height: 100%; */
    /* padding: 0px 70px;
    justify-content: center; */
}
.topColor{
  background-color: rgb(48 59 140) !important;
}
/* .gridSpace{
    padding: 0px 70px;
    justify-content: center; 
} */
/* .grid1{
    background-color:  rgb(48 59 140);;
    color: white;
} */
.tabStyle{
    
    background-color:  rgb(48 59 140);
    color: white;
    /* margin-top: '30px'; */
}
.form .borderBox{
    border: 1px solid rgb(6 25 162);
    box-shadow: 5px 10px 8px #888888;
    /* border-color: rgb(6 25 162); */
}
